@import 'tailwindcss';
@import 'mapbox-gl/dist/mapbox-gl.css';
@import '@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css';

:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
  background-color: #f4f6f5;
  color: #12241b;
}
